.stationCard {
  border-radius: 1rem;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  a {
    .detailsWrapper {
      background-color: $clr-white;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 1rem 1rem;
      overflow: hidden;
      padding: 1rem;
      flex: 1;
      hr {
        background-color: $clr-grey;
        margin-top: auto;
        margin-bottom: 1rem;
      }
    }
  }
}
.ratings {
  display: flex;
  p {
    margin-left: auto;
    color: $clr-grey;
  }
}

.detailsWrapper {
  background-color: $clr-white;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 1rem;
  flex: 1;
}

.mapWrapper {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  flex: 1;
  height: 200px;
}

.stationOuterWrapper {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: $clr-white;
  box-shadow: $shadow;
  margin: 2rem 0;
  padding-bottom: 2rem;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: clamp(100px, 80%, 95vw);
  margin: 2rem auto;
  > div {
    display: flex;
    h3 {
      margin-right: auto;
    }
  }
  textarea,
  [type='text'] {
    border-radius: 1rem;
    background-color: $clr-lightgrey;
    padding: 1rem;
    outline: none;
    border: none;
    resize: vertical;
  }
  button {
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    background-color: $clr-allowed;
    color: $clr-allowed-text;
    padding: 1rem 3rem;
  }
}

.reviewGrid {
  @include responsiveGrid(300px, 1rem, auto-fit);
  padding: 2rem;
}

.reviewWrapper {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 1rem;
  width: fit-content;
  .reviewContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      white-space: pre-wrap;
    }
  }
  .imageContainer {
    display: grid;
    place-content: center;
    background-color: $clr-primary;
    width: 2rem;
    height: 2rem;
    color: $clr-white;
    border-radius: 20rem;
  }
  .ratings {
    scale: 0.8;
    transform-origin: left;
    margin: 0;
  }
  .contentHeader {
    display: flex;
    flex-direction: column;
    span:first-of-type {
      font-weight: bold;
    }
    span:last-of-type {
      opacity: 0.5;
    }
  }
}
