@use 'sass:color';

// colors - base
$clr-primary: #114d46;
$clr-secondary: #d8eadb;
$clr-third: #62bb65;
$clr-accent: #5bb100;
$clr-white: #fff;

$clr-text: #232f44;
$clr-headings: #222a41;
$clr-disabled: #aeb8b2;

$clr-lightgrey: #f8f8f8;
$clr-grey: #d9d9d9;
$clr-darkgrey: #a6a6a6;
$clr-background: $clr-white;

// colors - special
$clr-third-transparent: color.change($clr-third, $alpha: 0.2);
$clr-links: color.scale($clr-primary, $lightness: 10%, $saturation: 10%);
$clr-links-hover: #6da830;
$clr-button-hover: color.change($clr-primary, $alpha: 0.5);
$clr-allowed: #d8eadb;
$clr-allowed-text: #3f7749;
$clr-not-allowed: #ead8d8;
$clr-not-allowed-text: #773f3f;

// details
$shadow: 0 4px 0.5rem hsla(0, 100%, 0%, 0.2);
$radius: 5px;

//fonts
//   set up variables when importing fonts with fonts/next
$font-main: var(--font-opensans);
$font-heading: var(--font-opensans);

//layout
$btn-padding: 0.5rem 1.1rem;

//mixins
@mixin flex($direction: row, $justify: center, $align: center, $gap: 1rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin innerwidth {
  width: clamp(2ch, 1100px, 95vw);
  margin: 0 auto;
}

@mixin headerFooterWidth {
  width: clamp(2ch, 1300px, 95vw);
  margin: 0 auto;
}

@mixin responsiveGrid($minwidth: 200px, $gap: 1rem, $fit: auto-fit) {
  display: grid;
  grid-template-columns: repeat($fit, minmax($minwidth, 1fr));
  gap: $gap;
}

@mixin mobile {
  @media (width < 600px) {
    @content;
  }
}

@mixin tablet {
  @media (width <= 800px) {
    @content;
  }
}
// styles only applied to desktop and above
@mixin desktop-only {
  @media (width > 800px) {
    @content;
  }
}
