.header {
  @include flex(row, space-between, center, 1rem);
  @include headerFooterWidth;
  padding: 1rem 0;
}

.lock {
  background-color: $clr-third-transparent;
  display: grid;
  place-content: center;
  border-radius: 20em;
  padding: 0.4rem;
}
