.header {
  @include flex(row, space-between, center, 1rem);
  @include headerFooterWidth;
  padding: 1rem 0;
}

.lock {
  background-color: $clr-third-transparent;
  display: grid;
  place-content: center;
  border-radius: 20em;
  padding: 0.4rem;
  @include tablet {
    display: none;
  }
}
.logOutBtn {
  position: relative;

  p {
    position: absolute;
    font-size: 0.7rem;
    width: fit-content;
    left: 0;
    opacity: 0;
    white-space: nowrap;
    translate: -25% -15px;
    background-color: $clr-primary;
    color: $clr-white;
    border-radius: $radius;
    padding: 0.2rem 0.3rem;
    transition: all 250ms;
  }
  &:hover {
    p {
      opacity: 1;
      translate: -25% 0.5rem;
    }
  }
}
