.loginPage {
  height: 100vh;
  width: clamp(2ch, 900px, 95vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 10rem;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    h1 {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
